.menu {
    text-align: left;
    background-color: violet;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    color: white;
}
.menu a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
}
.menu a:hover{
    color: crimson;
    background-color: cyan;
}
.main{
    margin-left: 360px;
    margin-right: 40px;
    margin-top: 80px;
}
.imq img{
    width: 45%;
    border-radius: 23px;
    margin: 5px;
    opacity: 0.7;
}
.imq img:hover{
    opacity: 1;
}
.Showcase h1{
    color: fuchsia;
    font-size: 48px;
    font-weight: 400;
    margin: 10px 0; 
}
hr {
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: chartreuse;
    border-radius: 4px;
    margin: 20px 0;
}
.qwe{
    display: inline-block;
    width: 30%;
    padding: 8px;
}  
.qwe img{
    width: 100%;
    border-radius: 5px;
}
.rty p{
    color:gray;
}
.description {
    background-color: #f1f1f1;
    padding: 2px 7px;
    border-radius: 5px;
}
.tariff{
    display: inline-block;
    width: 45%;
    padding: 0 8px;
    vertical-align: middle;
    text-align: center;
}
.tariff ul{
    padding: 0;
    margin: 0;
}
.tariff li{
    list-style-type: none;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;
    border-bottom-style: solid;
    border-radius: 5px;
    padding-bottom: 16px;
    padding-top: 16px;
}
.blue{
    background-color: blue;
    border-radius: 5px;
}
.red{
    border-radius: 5px;
    background-color: red;
}
.tariff ul{
    background-color:gainsboro;
}
.arial{
    font-size: 30px;
    font-weight:bold;
}
.opacity{
    opacity: 0.7;
}
.tariff button{
    color: #45015d;
    background-color: white;
    border-radius: 20px;
    padding: 15px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}
.pro button{
    background-color: #f44336;
    color: white;
}
#contacts input{
    width: 100%;
    border: 1px solid grey;
    outline: none;
    padding: 10px;
    font-size: 16px;}
#contacts button{
    color: white;
    background-color: purple;
    border-radius: 10px;
    outline: none;
    width: 100%;
    padding: 10px 20px;
    border: none;
}
#contacts button:hover{
    background-color: crimson;
}
.io{
    text-align: right;
    padding: 38px 34px;
    background-color: darkgrey;
    margin-top: 20px;
}
.kl{
    text-decoration: underline;
}